@import url(https://db.onlinewebfonts.com/c/02cbb7a31cfe23290e89f1316ea8886f?family=October+Crow);
@import url(https://db.onlinewebfonts.com/c/800249dca51965ef8adbfa527c330d6f?family=Teen);


$october-crow: 'October Crow', sans-serif;
$teen: 'Teen', sans-serif;
$lemon-green: #e4f357;
$dark-green: #1f261d;
$gray-text: #9A998E;
$black-green-bg: #0A1D03;